<div class="blog-header">
	<div class="glyph-icon flaticon-trumpet9 icon24"></div>
    <h1 class="blog-title"><span class="light">Our</span> Team</h1>
    <div class="col-lg-12">
        <div>
            <div class="margin">Blocknote site template is a beautifully designed bootstrap template.</div>
        </div>
    </div>
</div>

<div class="container">

		<ul class="list list-unstyled">
			<li class="col-lg-3">
				<figure class="text-center bg5">
					<img src="../assets/images/man-01.jpg" alt="img01" class="full img-rounded" />
						<p><h3 class="small padding bg2">John Smith<br />
						<span class="light">Managing Director</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua</p>
						<div class="paddingbottom"><span class="buttons"><a href="#" title="John Smith facebook" class="btn btn-default fb"><i class="fa fa-facebook fa-fw"></i></a> <a href="#" title="John Smith Twitter" class="btn btn-default tw"><i class="fa fa-twitter fa-fw"></i></a> <a href="#" title="John Smith Google+" class="btn btn-default gp"><i class="fa fa-google-plus fa-fw"></i></a></span></div></p>
				</figure>
			</li><li class="col-lg-3">
				<figure class="text-center bg6">
					<img src="../assets/images/woman-01.jpg" alt="img02" class="full img-rounded" />
						<p><h3 class="small padding bg2">Diane Susan<br />
						<span class="light">Financial Director</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua</p>
						<div class="paddingbottom"><span class="buttons"><a href="#" title="Diane Susan facebook" class="btn btn-default fb"><i class="fa fa-facebook fa-fw"></i></a> <a href="#" title="Diane Susan Twitter" class="btn btn-default tw"><i class="fa fa-twitter fa-fw"></i></a> <a href="#" title="Diane Susan Google+" class="btn btn-default gp"><i class="fa fa-google-plus fa-fw"></i></a></span></div></p>
				</figure>
			</li><li class="col-lg-3">
				<figure class="text-center bg7">
					<img src="../assets/images/woman-02.jpg" alt="img02" class="full img-rounded" />
						<p><h3 class="small padding bg2">Elise Hamilton<br />
						<span class="light">HR Director</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua</p>
						<div class="paddingbottom"><span class="buttons"><a href="#" title="Elise Hamilton facebook" class="btn btn-default fb"><i class="fa fa-facebook fa-fw"></i></a> <a href="#" title="Elise Hamilton Twitter" class="btn btn-default tw"><i class="fa fa-twitter fa-fw"></i></a> <a href="#" title="Elise Hamilton Google+" class="btn btn-default gp"><i class="fa fa-google-plus fa-fw"></i></a></span></div></p>
				</figure>
			</li><li class="col-lg-3">
				<figure class="text-center bg8">
					<img src="../assets/images/man-02.jpg" alt="img03" class="full img-rounded" />
						<p><h3 class="small padding bg2">John Doe<br />
						<span class="light">Technical Director</span></h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt aliqua</p>
						<div class="paddingbottom"><span class="buttons"><a href="#" title="John Doe facebook" class="btn btn-default fb"><i class="fa fa-facebook fa-fw"></i></a> <a href="#" title="John Doe Twitter" class="btn btn-default tw"><i class="fa fa-twitter fa-fw"></i></a> <a href="#" title="John Doe Google+" class="btn btn-default gp"><i class="fa fa-google-plus fa-fw"></i></a></span></div></p>
				</figure>
			</li>
		</ul>
		
</div>
