<div class="blog-header text-center">

<div class="margintop">

    <div class="blog-header text-center">
        <div class="glyph-icon flaticon-trumpet9 icon24"></div>
        <h1 class="blog-title"><span class="light">Update</span> Info</h1>
        <div>
            <div class="margin">Blocknote site template is a beautifully designed bootstrap template.</div>
        </div>
    </div>

    <div class="col-lg-4 col-xs-12">
        <div class="row margintop">

            <div class="col-lg-12 col-xs-12">
                <h3><span class="light">Event</span> Schedule</h3>

                <p><img src="../assets/images/1.jpg" width="100%" class="img-rounded" /></p>
                <div class="blog-post">
                    <h3 class="blog-post-title"><a href="news-detail.php">Chicago Arena</a></h3>
                <p class="blog-post-meta ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p><a href="news-detail.php" class="btn btn-sm btn-default">Read More &rsaquo;</a></p>
                </div>
                <!-- /.blog-post -->
            </div>

        </div>
    </div>

    <div class="col-lg-4 col-xs-12">
        <div class="row margintop">

            <div class="col-lg-12 col-xs-12">
                <h3><span class="light">Latest</span> News</h3>

                <div class="blog-post">
                    <h3 class="blog-post-title"><a href="news-detail.php">Sample blog post</a><br />
                    <small><span class="calendardate"><?php echo date("d"); ?></span>&nbsp;&nbsp;<span class="calendarmonth"><?php echo date("F"); ?></span>&nbsp;&nbsp;<span class="calendaryear"><?php echo date("Y"); ?></span></small></h3>
                    <p>This blog post shows a few different types of content that's supported and styled with Bootstrap.</p>
                    <p><a href="news-detail.php" class="btn btn-sm btn-default">Read More &rsaquo;</a></p>

                </div>
                <!-- /.blog-post -->

                <h3><span class="light">News</span> Archive</h3>

                <ul class="list-unstyled archive">
                    <li>
                        <div class="blog-post-meta">
                            <h5 class="blog-post-title">&#8250;&nbsp;<a href="news-detail.php">Ut enim ad minim veniam</a><br /><small><?php echo date("d"); ?></span>&nbsp;&nbsp;<span class="calendarmonth"><?php echo date("F"); ?></span>&nbsp;&nbsp;<span class="calendaryear"><?php echo date("Y"); ?></small></h5>
                        </div>
                    </li>
                    <li>
                        <div class="blog-post-meta">
                            <h5 class="blog-post-title">&#8250;&nbsp;<a href="news-detail.php">Excepteur cupidatat proident</a><br /><small><?php echo date("d"); ?></span>&nbsp;&nbsp;<span class="calendarmonth"><?php echo date("F"); ?></span>&nbsp;&nbsp;<span class="calendaryear"><?php echo date("Y"); ?></small></h5>
                        </div>
                    </li>
                    <li>
                        <div class="blog-post-meta">
                            <h5 class="blog-post-title">&#8250;&nbsp;<a href="news-detail.php">Duis aute irure dolor in</a><br /><small><?php echo date("d"); ?></span>&nbsp;&nbsp;<span class="calendarmonth"><?php echo date("F"); ?></span>&nbsp;&nbsp;<span class="calendaryear"><?php echo date("Y"); ?></small></h5>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
    </div>

    <div class="col-lg-4 col-xs-12">
        <div class="row margintop">

            <div class="col-lg-12 col-xs-12">
                <h3><span class="light">New</span> Merchandise</h3>
                <p>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt et dolore magna aliqua.</p>
                <p><a href="../shop/"><img src="../assets/images/shop/1.jpg" class="img-rounded full" /></a></p>
            </div>

        </div>
    </div>

</div>