<div class="blog-header">
    <h1 class="blog-title"><span class="light">Loading Grid</span> Gallery</h1>
</div>

<!-- /////////////// Column 12 ////////////////////// -->
<div class="col-lg-12">
    <div class="row">

        <div class="post">
            
        		<ul class="grid effect" id="grid">
                <li class="col-lg-4">

                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/1.jpg" alt="img01" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/2.jpg" alt="img02" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/3.jpg" alt="img03" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/4.jpg" alt="img04" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/5.jpg" alt="img05" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/6.jpg" alt="img06" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/7.jpg" alt="img07" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/8.jpg" alt="img08" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/9.jpg" alt="img09" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/10.jpg" alt="img010" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/11.jpg" alt="img011" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/12.jpg" alt="img012" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li><li class="col-lg-4">
                    
                    <a data-toggle="modal" href="#myModal2">
                        <img src="../assets/images/13.jpg" alt="img013" class="thumbnail" width="100%" />
                    </a>
                    <h4>Gallery picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

                </li>

                </ul>
            
        </div>

    </div>
</div>
<!-- /////////////// Column 12 ////////////////////// -->
