<div class="blog-header">
    <h1 class="blog-title"><span class="light">Sortable</span> Gallery</h1>
</div>

<!-- /////////////// Column 12 ////////////////////// -->
<div class="col-sm-12">
    <div class="row">

        <div class="container">
            <div class="portfolioFilter">

            	<p class="margintop">
                    <a href="#" data-filter="*" class="current">All Categories</a>
                	<a href="#" data-filter=".concert">Concert</a>
                	<a href="#" data-filter=".playing">Playing</a>
                	<a href="#" data-filter=".backstage">Backstage</a>
                	<a href="#" data-filter=".activity">Activity</a>
                </p>
                
            </div>
        </div>

        <div id="stage" class="portfolioContainer">

        <!-- item Content -->
            <div class="activity">
                <div class="paddingtop col-lg-12 text-center">
                    <a data-toggle="modal" href="#myModal" class="thumbnail">
                        <img src="../assets/images/1.jpg" alt="image" class="img-rounded image-responsive" />
                    </a>
                    <h4>Picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="concert playing">
                <div class="paddingtop col-lg-12 text-center">
                    <a data-toggle="modal" href="#myModal" class="thumbnail">
                        <img src="../assets/images/2.jpg" alt="image" class="img-rounded image-responsive" />
                    </a>
                    <h4>Picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="concert playing backstage">
                <div class="paddingtop col-lg-12 text-center">
                    <a data-toggle="modal" href="#myModal" class="thumbnail">
                        <img src="../assets/images/3.jpg" alt="image" class="img-rounded image-responsive" />
                    </a>
                    <h4>Picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="backstage">
                <div class="paddingtop col-lg-12 text-center">
                    <a data-toggle="modal" href="#myModal" class="thumbnail">
                        <img src="../assets/images/4.jpg" alt="image" class="img-rounded image-responsive" />
                    </a>
                    <h4>Picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="concert backstage">
                <div class="paddingtop col-lg-12 text-center">
                    <a data-toggle="modal" href="#myModal" class="thumbnail">
                        <img src="../assets/images/5.jpg" alt="image" class="img-rounded image-responsive" />
                    </a>
                    <h4>Picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="activity concert">
                <div class="paddingtop col-lg-12 text-center">
                    <a data-toggle="modal" href="#myModal" class="thumbnail">
                        <img src="../assets/images/6.jpg" alt="image" class="img-rounded image-responsive" />
                    </a>
                    <h4>Picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="activity backstage">
                <div class="paddingtop col-lg-12 text-center">
                    <a data-toggle="modal" href="#myModal" class="thumbnail">
                        <img src="../assets/images/7.jpg" alt="image" class="img-rounded image-responsive" />
                    </a>
                    <h4>Picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="concert">
                <div class="paddingtop col-lg-12 text-center">
                    <a data-toggle="modal" href="#myModal" class="thumbnail">
                        <img src="../assets/images/8.jpg" alt="image" class="img-rounded image-responsive" />
                    </a>
                    <h4>Picture name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        <!-- item Content End -->

        </div>

    </div>
</div>
<!-- /////////////// Column 12 ////////////////////// -->
