<div class="blog-header text-center">
    <p><span class="glyphicon glyphicon-shopping-cart icon24"></span></p>
    <h1 class="blog-title"><span class="light">Our</span> Shop</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
</div>

<div class="col-sm-12 marginbottom">
    <?php include("../assets/HTML-components/03-breadcrumb.html"); ?>
</div>

<div class="clear"></div>

<!-- /////////////// Column 12 ////////////////////// -->
<div class="col-sm-12 shopcontent">
    <div class="row">

            <div class="col-lg-12">
                <h3>Categories Name</h3>
            </div>

            <div class="col-lg-12">
                
                <div class="pull-right">
                    View&nbsp;&nbsp;<div class="btn-group" role="group" >
                    <span class="btn btn-default glyphicon glyphicon-th" title="grid view"></span> <span class="btn btn-default glyphicon glyphicon-th-list" title="list view"></span></div>

                    <!-- Single button -->
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by&nbsp;&nbsp;<span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">New arrivals</a></li>
                        <li><a href="#">Ratings</a></li>
                        <li><a href="#">Sales</a></li>
                        <li><a href="#">Lowest to Highest</a></li>
                        <li><a href="#">Highest to Lowest</a></li>
                      </ul>
                    </div>

                </div>


            </div>
        <!-- item Content -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="paddingtop col-lg-12 text-center">
                        <a data-toggle="modal" href="#myModal" class="thumbnail">
                            <img src="../assets/images/shop/1.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <h3 class="font32"><small>$</small> 12</h3>
                    <h4>Product picture name</h4>
                    <p class="font16">Lorem ipsum dolor consectetur adipiscing elit consectetur adipiscing elit</p>
                    <p><a href="detail.php" class="font18 btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Buy This</a></p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="paddingtop col-lg-12 text-center">
                        <a data-toggle="modal" href="#myModal" class="thumbnail">
                            <img src="../assets/images/shop/2.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <h3 class="font32"><small>$</small> 12</h3>
                    <h4>Product picture name</h4>
                    <p class="font16">Lorem ipsum dolor consectetur adipiscing elit consectetur adipiscing elit</p>
                    <p><a href="detail.php" class="font18 btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Buy This</a></p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="paddingtop col-lg-12 text-center">
                        <a data-toggle="modal" href="#myModal" class="thumbnail">
                            <img src="../assets/images/shop/3.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <h3 class="font32"><small>$</small> 12</h3>
                    <h4>Product picture name</h4>
                    <p class="font16">Lorem ipsum dolor consectetur adipiscing elit consectetur adipiscing elit</p>
                    <p><a href="detail.php" class="font18 btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Buy This</a></p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="paddingtop col-lg-12 text-center">
                        <a data-toggle="modal" href="#myModal" class="thumbnail">
                            <img src="../assets/images/shop/4.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <h3 class="font32"><small>$</small> 12</h3>
                    <h4>Product picture name</h4>
                    <p class="font16">Lorem ipsum dolor consectetur adipiscing elit consectetur adipiscing elit</p>
                    <p><a href="detail.php" class="font18 btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Buy This</a></p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="paddingtop col-lg-12 text-center">
                        <a data-toggle="modal" href="#myModal" class="thumbnail">
                            <img src="../assets/images/shop/5.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <h3 class="font32"><small>$</small> 12</h3>
                    <h4>Product picture name</h4>
                    <p class="font16">Lorem ipsum dolor consectetur adipiscing elit consectetur adipiscing elit</p>
                    <p><a href="detail.php" class="font18 btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Buy This</a></p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="paddingtop col-lg-12 text-center">
                        <a data-toggle="modal" href="#myModal" class="thumbnail">
                            <img src="../assets/images/shop/6.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <h3 class="font32"><small>$</small> 12</h3>
                    <h4>Product picture name</h4>
                    <p class="font16">Lorem ipsum dolor consectetur adipiscing elit consectetur adipiscing elit</p>
                    <p><a href="detail.php" class="font18 btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Buy This</a></p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="paddingtop col-lg-12 text-center">
                        <a data-toggle="modal" href="#myModal" class="thumbnail">
                            <img src="../assets/images/shop/7.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <h3 class="font32"><small>$</small> 12</h3>
                    <h4>Product picture name</h4>
                    <p class="font16">Lorem ipsum dolor consectetur adipiscing elit consectetur adipiscing elit</p>
                    <p><a href="detail.php" class="font18 btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Buy This</a></p>
                </div>
            </div>
        <!-- item Content End -->

        <!-- item Content -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="paddingtop col-lg-12 text-center">
                        <a data-toggle="modal" href="#myModal" class="thumbnail">
                            <img src="../assets/images/shop/8.jpg" alt="image" />
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <h3 class="font32"><small>$</small> 12</h3>
                    <h4>Product picture name</h4>
                    <p class="font16">Lorem ipsum dolor consectetur adipiscing elit consectetur adipiscing elit</p>
                    <p><a href="detail.php" class="font18 btn btn-default"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Buy This</a></p>
                </div>
            </div>
        <!-- item Content End -->

    </div>

    <div class="margintop text-center">
        <?php include("../assets/HTML-components/04-pagination.html"); ?>
    </div>
</div>
<!-- /////////////// Column 12 ////////////////////// -->
