<div class="blog-header text-center">
    <div class="glyph-icon flaticon-trumpet9 icon24"></div>
    <h1 class="blog-title"><span class="light">Contact</span> Us</h1>
    <div class="col-lg-12 col-xs-12">
        <div>
            <div class="margin">Blocknote site template is a beautifully designed bootstrap template.</div>
        </div>
    </div>
</div>
<div class="clear"></div><br />

<div class="col-lg-6 col-xs-12">

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputUsername1" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputUsername1" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Text</label>
            <div class="col-sm-10">
                <textarea class="form-control" type="text" rows="3" placeholder="Text"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Send</button>
            </div>
        </div>
    </form>
</div>

<div class="col-lg-6 col-xs-12">
    <div>
        <div class="media-left"><span class="media-object glyphicon glyphicon-map-marker"></span></div>
        <div class="media-body">
            <address>
                <strong>Blocknote Fan Base</strong> 795 Folsom Ave, Suite 600 San Francisco, CA 94107
            </address>
        </div>
    </div><br />
    <div>
        <div class="media-left"><span class="media-object glyphicon glyphicon-phone"></span></div>
        <div class="media-body">
            <address>
                <abbr title="Phone">Phone</abbr>: (123) 456-7890<br />
                <abbr title="Fax">Fax</abbr>: (123) 456-7908
            </address>
        </div>
    </div><br />
    <div>
        <div class="media-left"><span class="media-object glyphicon glyphicon-envelope"></span></div>
        <div class="media-body">
            <address>
                <strong>email</strong>: <a href="mailto:#" data-original-title="email us">info@yourdomain.com</a>
            </address>
        </div>
    </div><br />
    <div>
        <div class="media-left"><span class="media-object glyphicon glyphicon-time"></span></div>
        <div class="media-body">
            <address>
                <p>Office hours<br />Mon - Fri : 08.30 - 17.30<br />Sat - Sun : 08.30 - 13.30</p>
            </address>
        </div>
    </div>
</div>