/* Portfolio Grid Effects */

.grid {
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	/* padding: 7px;*/
	width: 33%;
	opacity: 0;
	clear:both;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* Effect: Scale up */
.grid.effect li.animate {
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	-webkit-animation: scaleUp 0.65s ease-in-out forwards;
	animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
	0% { }
	100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}


@media screen and (max-width: 900px) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
}

/* Portfolio Grid Hover effects */

.grid li .thumbnail {
	position: relative;
	z-index: 12;
}

.grid li span.buttons {
	position: absolute;
	bottom: 50%;
	left: 50%;
	margin-left:-24px;
	color: #fff;
}

.grid li > a:hover  {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}