<!-- glyphicon start -->
<div class="row text-center">
    <ul class="list list-unstyled">

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-asterisk"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-asterisk</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-plus"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-plus</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-euro"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-euro</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-minus"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-minus</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-cloud"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-cloud</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-envelope"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-envelope</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-pencil"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-pencil</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-glass"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-glass</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-music"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-music</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-search"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-search</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-heart"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-heart</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-star"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-star</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-star-empty"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-star-empty</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-user"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-user</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-film"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-film</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-th-large"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-th-large</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-th"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-th</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-th-list"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-th-list</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-ok"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-ok</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-remove"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-remove</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-zoom-in"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-zoom-in</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-zoom-out"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-zoom-out</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-off"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-off</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-signal"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-signal</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-cog"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-cog</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-trash"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-trash</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-home"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-home</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-file"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-file</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-time"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-time</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-road"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-road</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-download-alt"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-download-alt</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-download"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-download</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-upload"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-upload</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-inbox"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-inbox</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-play-circle"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-play-circle</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-repeat"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-repeat</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-refresh"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-refresh</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-list-alt"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-list-alt</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-lock"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-lock</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-flag"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-flag</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-headphones"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-headphones</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-volume-off"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-volume-off</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-volume-down"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-volume-down</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-volume-up"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-volume-up</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-qrcode"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-qrcode</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-barcode"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-barcode</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-tag"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-tag</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-tags"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-tags</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-book"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-book</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-bookmark"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-bookmark</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-print"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-print</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-camera"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-camera</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-font"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-font</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-bold"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-bold</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-italic"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-italic</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-text-height"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-text-height</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-text-width"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-text-width</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-align-left"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-align-left</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-align-center"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-align-center</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-align-right"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-align-right</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-align-justify"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-align-justify</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-list"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-list</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-indent-left"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-indent-left</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-indent-right"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-indent-right</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-facetime-video"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-facetime-video</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-picture"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-picture</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-map-marker"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-map-marker</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-adjust"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-adjust</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-tint"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-tint</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-edit"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-edit</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-share"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-share</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-check"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-check</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-move"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-move</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-step-backward"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-step-backward</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-fast-backward"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-fast-backward</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-backward"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-backward</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-play"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-play</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-pause"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-pause</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-stop"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-stop</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-forward"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-forward</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-fast-forward"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-fast-forward</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-step-forward"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-step-forward</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-eject"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-eject</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-chevron-left"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-chevron-left</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-chevron-right"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-chevron-right</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-plus-sign"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-plus-sign</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-minus-sign"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-minus-sign</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-remove-sign"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-remove-sign</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-ok-sign"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-ok-sign</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-question-sign"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-question-sign</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-info-sign"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-info-sign</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-screenshot"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-screenshot</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-remove-circle"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-remove-circle</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-ok-circle"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-ok-circle</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-ban-circle"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-ban-circle</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-arrow-left"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-arrow-left</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-arrow-right"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-arrow-right</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-arrow-up"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-arrow-up</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-arrow-down"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-arrow-down</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-share-alt"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-share-alt</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-resize-full"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-resize-full</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-resize-small"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-resize-small</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-exclamation-sign"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-exclamation-sign</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-gift"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-gift</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-leaf"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-leaf</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-fire"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-fire</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-eye-open"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-eye-open</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-eye-close"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-eye-close</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-warning-sign"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-warning-sign</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-plane"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-plane</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-calendar"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-calendar</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-random"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-random</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-comment"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-comment</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-magnet"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-magnet</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-chevron-up"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-chevron-up</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-chevron-down"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-chevron-down</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-retweet"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-retweet</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-shopping-cart"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-shopping-cart</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-folder-close"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-folder-close</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-folder-open"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-folder-open</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-resize-vertical"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-resize-vertical</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-resize-horizontal"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-resize-horizontal</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-hdd"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-hdd</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-bullhorn"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-bullhorn</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-bell"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-bell</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-certificate"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-certificate</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-thumbs-up"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-thumbs-up</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-thumbs-down"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-thumbs-down</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-hand-right"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-hand-right</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-hand-left"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-hand-left</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-hand-up"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-hand-up</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-hand-down"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-hand-down</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-circle-arrow-right"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-right</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-circle-arrow-left"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-left</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-circle-arrow-up"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-up</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-circle-arrow-down"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-circle-arrow-down</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-globe"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-globe</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-wrench"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-wrench</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-tasks"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-tasks</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-filter"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-filter</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-briefcase"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-briefcase</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-fullscreen"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-fullscreen</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-dashboard"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-dashboard</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-paperclip"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-paperclip</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-heart-empty"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-heart-empty</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-link"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-link</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-phone"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-phone</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-pushpin"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-pushpin</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-usd"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-usd</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-gbp"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-gbp</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sort"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sort</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sort-by-alphabet"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sort-by-alphabet</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sort-by-alphabet-alt"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sort-by-alphabet-alt</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sort-by-order"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sort-by-order</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sort-by-order-alt"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sort-by-order-alt</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sort-by-attributes"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sort-by-attributes</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sort-by-attributes-alt"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sort-by-attributes-alt</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-unchecked"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-unchecked</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-expand"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-expand</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-collapse-down"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-collapse-down</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-collapse-up"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-collapse-up</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-log-in"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-log-in</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-flash"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-flash</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-log-out"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-log-out</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-new-window"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-new-window</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-record"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-record</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-save"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-save</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-open"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-open</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-saved"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-saved</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-import"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-import</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-export"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-export</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-send"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-send</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-floppy-disk"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-floppy-disk</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-floppy-saved"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-floppy-saved</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-floppy-remove"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-floppy-remove</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-floppy-save"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-floppy-save</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-floppy-open"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-floppy-open</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-credit-card"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-credit-card</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-transfer"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-transfer</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-cutlery"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-cutlery</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-header"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-header</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-compressed"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-compressed</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-earphone"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-earphone</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-phone-alt"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-phone-alt</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-tower"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-tower</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-stats"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-stats</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sd-video"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sd-video</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-hd-video"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-hd-video</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-subtitles"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-subtitles</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sound-stereo"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sound-stereo</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sound-dolby"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sound-dolby</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sound-5-1"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sound-5-1</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sound-6-1"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sound-6-1</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sound-7-1"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sound-7-1</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-copyright-mark"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-copyright-mark</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-registration-mark"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-registration-mark</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-cloud-download"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-cloud-download</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-cloud-upload"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-cloud-upload</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-tree-conifer"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-tree-conifer</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-tree-deciduous"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-tree-deciduous</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-cd"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-cd</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-save-file"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-save-file</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-open-file"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-open-file</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-level-up"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-level-up</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-copy"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-copy</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-paste"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-paste</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-alert"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-alert</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-equalizer"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-equalizer</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-king"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-king</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-queen"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-queen</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-pawn"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-pawn</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-bishop"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-bishop</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-knight"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-knight</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-baby-formula"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-baby-formula</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-tent"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-tent</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-blackboard"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-blackboard</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-bed"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-bed</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-apple"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-apple</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-erase"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-erase</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-hourglass"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-hourglass</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-lamp"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-lamp</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-duplicate"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-duplicate</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-piggy-bank"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-piggy-bank</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-scissors"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-scissors</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-bitcoin"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-bitcoin</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-yen"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-yen</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-ruble"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-ruble</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-scale"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-scale</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-ice-lolly"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-ice-lolly</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-ice-lolly-tasted"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-ice-lolly-tasted</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-education"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-education</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-option-horizontal"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-option-horizontal</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-option-vertical"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-option-vertical</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-menu-hamburger"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-menu-hamburger</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-modal-window"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-modal-window</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-oil"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-oil</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-grain"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-grain</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-sunglasses"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-sunglasses</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-text-size"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-text-size</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-text-color"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-text-color</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-text-background"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-text-background</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-object-align-top"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-object-align-top</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-object-align-bottom"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-object-align-bottom</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-object-align-horizontal"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-object-align-horizontal</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-object-align-left"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-object-align-left</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-object-align-vertical"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-object-align-vertical</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-object-align-right"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-object-align-right</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-triangle-right"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-triangle-right</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-triangle-left"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-triangle-left</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-triangle-bottom"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-triangle-bottom</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-triangle-top"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-triangle-top</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-console"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-console</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-superscript"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-superscript</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-subscript"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-subscript</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-menu-left"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-menu-left</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-menu-right"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-menu-right</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-menu-down"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-menu-down</span>
        <br /></li>

        <li class="col-md-2">
          </p><span class="btn btn-default font32 glyphicon glyphicon-menu-up"></span></p>
          <span class="glyphicon-class">glyphicon glyphicon-menu-up</span>
        <br /></li>

    </ul>
  </div>
  <!-- glyphicon end -->