<!-- bubble start -->
<div class="bubbleleft">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</div>
<!-- bubble end -->
<div class="clear"></div><br />
<!-- bubble start -->
<div class="bubbleright">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</div>
<!-- bubble end -->
<div class="clear"></div><br />
<!-- bubble start -->
<div class="bubbletop">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</div>
<!-- bubble end -->
<div class="clear"></div><br />
<!-- bubble start -->
<div class="bubblebottom">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</div>
<!-- bubble end -->
<div class="clear"></div><br />