<ul class="list-inline banner-social-buttons">
    <li><a href="" class="font48"><i class="pw pw-clickandbuy"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-westernunion"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-braintree"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-paysafecard"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-ideal"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-paypal-new"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-skrill"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-gittip"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-flattr"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-cb"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-bitcoin"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-bitcoin-sign"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-ripple"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-sofort"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-diners"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-mastercard"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-trust-e"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-amazon"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-jcb"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-google-wallet"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-stripe"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-square"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-ogone"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-verisign"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-discover"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-american-express"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-paypal"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-maestro"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-visa"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-visa-electron"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-postepay"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-cartasi"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-unionpay"></i></a></li>
    <li><a href="" class="font48"><i class="pw pw-ec"></i></a></li>
</ul>