<div class="col-lg-4">
    <div class="margintop text-center">
        <div>
            <img src="../assets/images/3.jpg" width="100%" class="img-rounded" />
            <div class="margin">
                <h3><span class="light">Our</span> Music</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit dolore magna aliqua.</p>
                <p><button type="button" class="btn btn-default">Music</button></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="margintop text-center">
        <div>

            <!-- carrousel start -->
            <div>
                <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic2" data-slide-to="1" class=""></li>
                        <li data-target="#carousel-example-generic2" data-slide-to="2" class=""></li>
                        <li data-target="#carousel-example-generic2" data-slide-to="3" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="../assets/images/1.jpg" width="100%" />
                        </div>
                        <div class="item">
                            <img src="../assets/images/2.jpg" width="100%" />
                        </div>
                        <div class="item">
                            <img src="../assets/images/3.jpg" width="100%" />
                        </div>
                        <div class="item">
                            <img src="../assets/images/4.jpg" width="100%" />
                        </div>
                    </div>

                    <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>

                </div>
            </div>
            <!-- carrousel end -->

            <div class="margin">
                <h3><span class="light">Latest</span> Photo</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit dolore magna aliqua.</p>
                <p><button type="button" class="btn btn-default">Gallery</button></p>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="margintop text-center">
        <div>
            <img src="../assets/images/2.jpg" width="100%" class="img-rounded" />
            <div class="margin">
                <h3><span class="light">Today</span> Video</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit dolore magna aliqua.</p>
                <p><button type="button" class="btn btn-default">Channel</button></p>
            </div>
        </div>
    </div>
</div>
